.troubles-main-div{
    flex-wrap: wrap;
}
.troubles-child-div{ 
    background-color: rgb(33, 33, 33);
    border-radius: 10px;
    padding: 5px;
    padding-left: 15px;
    margin-bottom: 20px;
    text-align: start;
    max-height: 600px;
    overflow-y: scroll;
} 
.troubles-heading{
    color: green;
    text-align: start;
}
li{
    list-style-position: inside;
    color: rgb(255, 255, 255);
}
::-webkit-scrollbar {
    width: 5px;  /* Width for vertical scrollbars */
    height: 8px; /* Height for horizontal scrollbars */
  }
  ::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border-radius: 10px;
  }