.DevMode{
    min-height: 100vh;
    margin: 0px;
}
.dev-navbar{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-right: 3px solid white;
    border-top: 3px solid white;
    background-color: rgb(35, 35, 35);
    border-top-right-radius: 35px;
    height: 90vh;
}
.dev-navbar-icons{
    position: relative;
    top: 10px;
    width: 30px;
    padding-bottom: 10px;
}
.dev-navbar-text{
    position: relative;
    bottom: 7px;
    left: 5px;
    padding: 5px;
}
.dev-button{
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 2px;
    margin: 10px;
    padding: 2px;
}
.dev-outlet{
    padding: 10px;
    height: 90vh;
    overflow-y: scroll;
}